*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cursorgothic;
}
nav{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 85% ;
    margin: 20px auto;
    padding: 10px 20px;
    
}

nav h3{
    color: #333333;
    font-size: 24px;
    display: inline-block;
    margin: 0;
    
}
nav div a{
    color: #333333;
    text-decoration: none;
    margin-left: 15px;
}
nav div a:hover {
    text-decoration-color: darkgrey;
}

nav div .button1{
    background-color: whitesmoke;
    border-radius: 18px;
    padding: 8px 12px;
    font-size: 16px;
    
}
 .button1:hover {
    background-color:  rgb(207, 205, 202);
}

nav div .button2{
    background-color: #333333;
    border-radius: 18px;
    padding: 8px 12px;
    font-size: 16px;
    color: beige;
    
}

 .button2:hover {
    background-color:  rgb(207, 205, 202);
    color: #333333;
}

.logo img{
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
}

section {
    width: 85% ;
    margin: 20px auto ;
    padding: 80px 40px 0px;
}

.cta {
    background-color: #333333;
    border-radius: 18px;
    padding: 8px 12px;
    font-size: 16px;
    color: beige;
    margin-top: 20px;
}

.cta:hover {
     background-color:  rgb(207, 205, 202);
    color: #333333;

}
.hero{
    position: relative;
}

.hero .background{
    width: 100%;
    height:auto ;
    display: block;
    margin: 40px 20px;
    z-index: 0;
    
}

.hero .foreground{
    width: 70%;
    height:auto ;
    display: inline-block;
    margin: 40px 20px;
    position: absolute;
    top: 400px;
    right: 100px;
    z-index: 2;
    
}

#logosection{
    width: 85%;
    height: 350px;
}

#logosection p{
    display: flex;
    padding: 0;
    justify-content: center;
}
.partners{
    padding: 40px;
}
#logosection .partners img{
    width: 130px;
    padding: 0px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100vh;
    
}

main .mainright {
    width: 75%;
    height:auto;
    margin-right: 0px;
    padding: 0px;
    position:relative 
}

main .mainright .background2{
    width: 110%;
    height: 85vh;
    margin-right: 0px;
    padding: 0px ;
    border-radius: 5px;
    position: relative;
    border-radius: 5px;
    
    
}
main .mainleft{
    padding-left: 170px;
    
}
main .mainleft h3{
    font-size: 25px;
}

main .mainleft a {
    color: orangered;
    text-decoration: none;
}

main .mainright .foreground2{
    width: 85%;
    height:70% ;
    display: block;
    margin: 50px 20px;
    left: 50px;
    top: 50px;
    right: 50px;
    z-index: 2;
    position: absolute;
    border-radius: 5px;

}

.features{
    width: 90%;
    display: flex;
    align-items: center;
    background-color: blanchedalmond;
    padding-left: 25px;
    margin-left: 25px;
    margin-right: 0px;
    border-radius: 10px;
    padding-right: 0px;
    
}
.features .featuresleft div img{
    width: 100%;
    height: 70%;

}
.features .featuresright {
    
    
    
    justify-content: center;
    align-items: center;
    text-align: left;
    
    padding-left: 10px;
    padding-right: 150px;
    margin-left: 10px;

}
.features .featuresright h3{
    width: 400px;
    font-size: 25px;
    
}

.features .featuresright a{
    text-decoration: none;
    color: orangered;
    margin-top: 50px;
    
}

.testimonials {
    padding: 80px 40px;
    max-width: 1700px;
    margin: 0 auto;
    background-color: #f5f5f5;
}
.testimonials h2{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: #333333;
    margin: 60px;
}

.testimonials-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.testimonial-card {
    background-color: lightgray;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.testimonial-text {
    color: #555555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
    flex-grow: 1;
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 20px;
    border-top: 1px solid #eee;

}

.testimonial-author img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.author-name{
    font-weight: 600;
    color: #333333;
    font-size: 15px;
    margin: 0;

}

.author-title {
    color: #888888;
    font-size: 14px;
    margin: 4px 0 0 0;
}

.about-section{
    padding: 100px 40px;
    background-color: #f8f8f8;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.about-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 80px;
    width: 100%;
}

.about-content {
    flex: 1;
    max-width: 500px;
}

.about-content h2{
    font-size: 25px;
    font-weight: 400;
    line-height: 1.4;
    color: #4a4a4a;
    margin-bottom: 30px;
    letter-spacing: -0.5px;
    width: 300px;
}

.join-link {
    display: inline-block;
    color: #ff6b6b;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;

}

.about-image img{
    width: 100%;
    height:auto;
    border-radius: 12px;
    object-fit: cover;
    padding-left: 50px;

}

.cta-section {
    padding: 120px 40px;
    text-align: center;
    background-color: #f8f8f8;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-section h1 {
    font-size: 72px;
    font-weight: 400;
    color: #4a4a4a;
    margin-bottom: 40px;
    letter-spacing: -1px;
}

.download-cta {
    background-color: #5a5a5a;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.download-cta:hover {
    background-color: #404040;

}

.footer {
    background-color: #f0f0f0;
    padding: 80px 40px 40px;
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
}

.footer-column h3 {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 12px;
}

.footer-column ul li a {
    color: #888888;
    text-decoration: none;
    font-size: 14px;

}